<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="static/home.css">
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxs5X-E83gfSuowqZt4WKxjL4EQh9_R2g">
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script type="text/javascript" src="static/coffee_search.js"></script>
</head>
<title>Blind coffee Manhattan</title>
<body>
<p>This is mostly just test stuff for now.</p>    
<div id="container"><div id="map-canvas"></div></div>
<p id="dtime">{{curr_time}}</p>
</body>
</html>
